<html>
<body #mainScreen (window:resize)="changeTextSizeIfNeeded($event)">
<div class="container">
  <header>
    <h1>Phone Book</h1>
    <hr/>
  </header>
  <table class="table table-bordered" [ngStyle]="style">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of contactList">
        <td>{{row.name}}</td>
        <td>{{row.lastname}}</td>
        <td>{{row.phoneNumber}}</td>
        <td>{{row.email}}</td>
        <td>
          <button (click)="removeContactFromContactList(row)" class="btn-danger">X</button>
        </td>
      </tr>
    </tbody>
    <tfoot>
    <tr>
      <td>
        <input [(ngModel)]="contact.name" class='form-control' type="text"/>
      </td>
      <td>
        <input [(ngModel)]="contact.lastname" class='form-control' type="text"/>
      </td>
      <td>
        <input [(ngModel)]="contact.phoneNumber" class='form-control' type="text"/>
      </td>
      <td>
        <input [(ngModel)]="contact.email" class='form-control' type="text"/>
      </td>
      <td>
        <div class="text-center">
          <button (click)="addContactToContactList()" class='btn-dark'>Add</button>
        </div>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
</body>
</html>
